# Shared auth
JWT_SECRET=replace_with_shared_jwt_secret
JWT_EXPIRATION=86400000

# Database host for the EC2 that runs the databases
# Use an Elastic IP or another fixed IP address.
USERS_DB_HOST=replace_with_db_ec2_ip
USERS_DB_PORT=5432
PRODUCTS_DB_HOST=replace_with_db_ec2_ip
PRODUCTS_DB_PORT=3306
ORDERS_DB_HOST=replace_with_db_ec2_ip
ORDERS_DB_PORT=27017
ORDERS_DB_NAME=orders_db

# Users DB (PostgreSQL)
USERS_DB_USER=usuario
USERS_DB_PASSWORD=password
USERS_DB_NAME=ecommerce_bd

# Products DB (MySQL)
PRODUCTS_DB_ROOT_PASSWORD=root_secret
PRODUCTS_DB_NAME=products_db
PRODUCTS_DB_USER=app_user
PRODUCTS_DB_PASSWORD=app_pass

# AWS credentials (AWS Academy: temporary credentials)
AWS_ACCESS_KEY_ID=replace_with_access_key
AWS_SECRET_ACCESS_KEY=replace_with_secret_access_key
AWS_SESSION_TOKEN=replace_with_session_token
AWS_REGION=us-east-1

# S3 products bucket
S3_BUCKET=replace_with_products_images_bucket
S3_FOLDER=images/products/

# Athena
ATHENA_DATABASE=ecommerce_analytics
ATHENA_OUTPUT_LOCATION=s3://replace-with-athena-results-bucket/analytics/athena-results/
